img[alt="25%"] {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img[alt="33%"] {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img[alt="50%"] {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img[alt="66%"] {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img[alt="75%"] {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


img[alt="100%"] {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    padding: 0.2rem 0.5rem;
    background-color: rgba(232, 248, 246);
    border-left: .4vw solid rgba(85, 188, 165);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .01), 0 1px 2px 0 rgba(0, 0, 0, .01), 0 3px 1px -2px rgba(0, 0, 0, .01);
    text-transform: capitalize;
}
